<img src="/assets/images/logo.webp" class="w-2/3 mx-auto" />
<section>
  <div class="container">
    <h1 class="mx-auto text-center my-4 text-3xl font-bold text-primary">
      Login
    </h1>
    <form class="rounded-md flex flex-col justify-center items-center p-3">
      <input placeholder="Username" type="text" required />
      <input placeholder="Password" type="password" required />
      <button class="btn-pri" type="submit">Login</button>
    </form>
  </div>
</section>
<svg
  class="rotate-180 absolute w-full left-0 bottom-0 opacity-25"
  viewBox="0 0 1536 200"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <path
    fill="#9071fe"
    d="M 0 200 C 389.5 200 389.5 110 779 110 L 779 110 L 779 0 L 0 0 Z"
    stroke-width="0"
  ></path>
  <path
    fill="#9071fe"
    d="M 778 110 C 1152 110 1152 0 1526 0 L 1526 0 L 1526 0 L 778 0 Z"
    stroke-width="0"
  ></path>
</svg>
