<section>
  <div class="container">
    <div class="flex flex-col">
      <h1 class="text-5xl text-primary font-extrabold text-center">
        Error 404 page not found
      </h1>
      <div class="mt-3 text-secondary flex flex-col">
        <span
          >This could be due to going to the wrong link or an error on our
          side.</span
        >
        <span
          >If you think it is the latter please
          <a class="font-bold" routerLink="/feedback">send feedback</a>
        </span>
      </div>
      <button class="btn-pri mx-auto mt-5" routerLink="/">Back home</button>
    </div>
  </div>
</section>
